.Layout{
    display: flex;
    justify-content: space-between;
}
.ItemList_heading{
 display: flex;
 justify-content: space-between;
     text-align: initial;
    margin-top: 27px;
     width: 85%; 
}
.ItemList_name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 50px;
    
    /* text-align: initial;
    margin-top: 27px;
    width: 78%; */
    color: #17203F;
}
.search_bar{
    height: 39px;
    width: 138px;
    border: 1px solid #131313;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}
.ItemList_filter{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 50px;
/* identical to box height, or 200% */


color: #17203F;
}
.ItemList_Content{
    width: 85%;
    height: 110px;
    padding: 6px;
    display: flex;
    justify-content: space-between;
background: #FFFFFF;
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
margin-top: 20px;
padding: 23px;
}
.ItemList_dish_name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    margin-left: 54px;
    color: #000000;
    
}
.ItemList_date{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */

text-transform: capitalize;

color: #000000;

opacity: 0.5;
}
.ItemList_Icon{
    
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
text-transform: capitalize;

color: #000000;
display: flex;
width: 116px;
font-size: 20px;
justify-content: space-between;

}

.Main_div{
    width: 78%;
}
.ItemList_total{
    background: #FFFFFF;
border: 1px solid #000000;
border-radius: 8px;
width: 15%;
height: 41px;
text-align: inherit;
padding: 6px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
text-align: center;
text-transform: capitalize;

color: #000000;
}
.ItemList_footer{
    display: flex;
    justify-content: end;
    width: 85%;
    margin-top: 3%;
}
.ItemList_button{
    background: #C35F35;
border-radius: 5px;
width: 106px;
height: 38px;
color:white;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-align: center;
text-transform: capitalize;


}
.main_img{
    margin-top: -9px;
}
.Food_div{
    display: flex;
    justify-content: end;
}